/* Importing fonts */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans+Mono:wght@200;300;400;500;600;700;800;900&family=Pacifico&display=swap');

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    z-index: 0;
}

:root{
  --bg: #212121;
  --txt: #CFCECE;
  --clr1: #3b3266;
  --clr2: #6556b3;
  --clr3: #826ee6;
  --input: #454545;

  --fs: 25px;
}

body {
    background: var(--bg);
    font-family: "Inter";
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    gap: 20px;
    margin: 0px;
    height: 100%;
    width: 100%;
    min-height: 100vh;
}

canvas {
    width: 100%;
    object-fit: contain;
}

.maincontent{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 50px;
  flex: 1;
}

a{
  color: var(--clr3);
}

a:hover{
  color: var(--clr2);
}

a:hover:active{
  color: var(--clr3);
}

a.save {
    font-family: "Inter";
    font-size: var(--fs);
    color: var(--txt);
    padding: 10px 25px 6px 25px;
    margin: 10px;
    background-color: var(--clr1);
    border-style: hidden;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    width: 100%;
    margin-top: 50px;
}

a.save:hover {
    color: var(--txt);
    background-color: var(--clr2);
}

a.save:hover:active {
    background-color: var(--clr3);
}

button {
    font-family: "Inter";
    font-size: var(--fs);
    color: var(--txt);
    padding: 10px 10px 10px 10px;
    background-color: var(--clr1);
    border-style: hidden;
    text-decoration: none;
    flex-shrink: 0;
    width: 100%;
    cursor: pointer;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button:hover:active {
    background-color: var(--clr3);
    border-color: var(--clr3);
    outline: none;
}

button:hover {
    background-color: var(--clr2);
    border-color: var(--clr2);
    outline: none;
}

input {
    font-family: "Inter";
    height: 50px;
    font-size: var(--fs);
    border-radius: 0;
    border-style: hidden;
    padding: 0 10px;
    width: 100%;
    background-color: var(--input);
    color: var(--txt);
    outline: none;
}

button:focus, input:focus {
  outline: 0;
}

select{
  border: none;
  color: var(--txt);
  padding: 10px;
  font-size: var(--fs)
}

:focus {
    outline: 2px solid var(--txt);
}

input::placeholder {
    font-family: "Inter";
    font-size: var(--fs);
}

.title {
    width: 100%;
    text-align: center;
    color: var(--txt);
    cursor: pointer;
    background-color: var(--clr1);
    padding: 10px;
    font-size: 32px;
}

.picture-container {
    width: 550px;
}

.image {
    width: 100%;
}

.logo {
    width: 20%;
    position: absolute;
    top: 20px;
    right: 50px;
    z-index: 1;
}

.image-text {
    position: absolute;
    bottom: 100px;
    left: 100px;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 450px;
    gap: 20px;
}

.divider {
    width: 300px;
    size: 1px;
    color: black;
}

.contact {
    font-size: 18px;
    margin-bottom: 10px;
}

.bottom-text {
    font-family: monospace;
    font-size: 14px;
    text-align: center;
    line-height: normal;
    width: 90%;
}

.textprop, .imgsearch{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: stretch;
  width: 100%;
  gap: 20px;
  height: 50px;
}

.imgsearch{
  margin-top: 50px;
}

.textposition, .textalign, .darken{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: stretch;
  width: 100%;
  gap: 20px;
  height: 50px;
}

.posbtn, .alignbtn, .icon__darken{
  width: auto;
  flex-grow: 1;
}

.fontselect{
  height: 50px;
  background-color: var(--input);
  width: 100%;
  font-family: "Bebas Neue";
}

.color-picker{
  padding: 5px;
  margin: 0px;
  cursor: pointer;
  width: 50px;
  height: 50px;
}

.searchimgbtn, .randomimg, .icon__darken{
  width: 50px;
  height: 50px;
  padding: 14px;
}

svg{
  color: var(--txt);
}

.icon__darken{
  background-color: var(--input);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#magnifiersvg, #repeatsvg{
  margin: 0px;
}

.noto{
  font-family: "Noto Sans Mono"
}

.pacifico{
  font-family: 'Pacifico';
}

.inter{
  font-family: 'Inter';
}

.bebas{
  font-family: 'Bebas Neue';
}

/* animations */
.cuberotate {
  animation-name: rotatecube;
  animation-duration: 0.5s;
  animation-timing-function: ease;
}

@keyframes rotatecube {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(90deg);}
}

.pipe{
  height: 24px;
  width: 3px;
  border-radius: 1.5px;
  background-color: var(--txt);
}

@keyframes rotateagain {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(180deg);}
}

/* animations */
.againrotate {
  animation-name: rotateagain;
  animation-duration: 0.5s;
  animation-timing-function: ease;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    .darkenrange {
      overflow: hidden;
      width: 100%;
      height: 100%;
      -webkit-appearance: none;
      background-color: var(--input);
    }

    .darkenrange::-webkit-slider-runnable-track {
      height: 70%;
      -webkit-appearance: none;
      background-color: var(--input);
    }

    .darkenrange::-webkit-slider-thumb {
      width: 35px;
      -webkit-appearance: none;
      height: 100%;
      cursor: ew-resize;
      background: var(--clr1);
    }

}

input[type="range"]::-moz-range-progress {
  background-color: var(--input);
}
input[type="range"]::-moz-range-track {
  background-color: var(--input);
}

input[type="range"]::-ms-fill-lower {
  background-color: var(--input);
}
input[type="range"]::-ms-fill-upper {
  background-color: var(--input);
}

.credits{
  text-decoration: none;
  color: var(--txt);
  z-index: 99;
}

.credits:hover, .credits:hover:active {
  color: var(--txt);
}

.bottom{
  width: 100%;
  background-color: var(--input);
  color: var(--txt);
  text-align: center;
  padding: 10px;
  font-size: 16px;
  flex: 0;
}

.bottom__modal{
  position: absolute !important;
  bottom: 0 !important;
}

.modal__wrapper {
  position: absolute;
  background-color: var(--input);
  color: var(--txt);
  padding: 20px;
  max-width: 400px;
  top: 45%;

  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: flex-start;
  align-items: flex-start;
}

.modal__wrapper svg {
  margin-right: 5px;
}

.modal__title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.modal__hidebody {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.7;
}

.modal{
  visibility: hidden;
}

/* Smartphone responsiblity*/

@media only screen and (max-width: 1370px) {
.maincontent {
    flex-direction: column;
}

.button-container{
  width: 550px;
}
}

@media only screen and (max-width: 800px) {
.maincontent {
    flex-direction: column;
    width: 100%;
}

.button-container, .picture-container {
  width: 90%;
}

.pipe{
  display: none;
}
}

@media only screen and (max-width: 450px) {
  .modal__wrapper{
    max-width: 80%;
  }

  .modal__wrapper svg{
    transform: scale(1.5);
    width: auto;
    height: auto;
    margin-left: 2px;
  }

  .modal__title{
    gap: 10px;
  }
}

@media only screen and (max-width: 400px) {
.textalign{
  width: 100%;
}

.textalign svg{
  transform: scale(0.5);
}

.textalign button{
  padding: 5px;
}
}

@media only screen and (max-width: 300px) {
.textalign{
  width: 100%;
  flex-wrap: wrap;
}

.textalign svg{
  transform: scale(1);
}

.textalign button{
  padding: 10px;
}
}
